.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  margin: 10px;
  padding: 20px;
  max-height: 100%;
  width: 100%;
  min-width: 100px;
}
.product_image {
  max-height: 200px;
  max-width: 100px;
  object-fit: contain;
  margin-bottom: 15px;
  align-items: center;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
  width: 100%;
  align-items: left;
}
.product__price {
  margin-top: 5px;
  align-items: left;
}
.product_button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  align-items: center;
  cursor: pointer;
}
.product:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.02);
  box-shadow: 0 15px 70px rgba(0,0,0.25);
}
.img_btn {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.noty__container{
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  padding: 5px;
}

.noty__container>img{
  max-height: 60px;
  width:60px;
  object-fit: contain;
  margin-bottom: 15px;
  margin-right: 5px;

}
.noty_type__success{
  background: white !important;
  color:black !important;

}
.noty_bar{
  border-radius: 10px !important;
}

.product_rating{
  display:flex;

}

.product_rating {
  color: #f0c14b;;
}